.Wrapper{
	height:300px;
	width:300px;
	background-color:#eee;
	padding:20px;
}

.screen{
	background-color:white;
	margin-bottom:20px; 
	box-shadow: 5px 5px 5px #888888;
}

#screen{
	margin:15px;
	height:25px;
	width:270px;
	border:2px solid #eee;
}

.keypad{
	height:auto;
}

.keypad button{
	width:65px;
	height:40px;
	margin:3px;
	color:#666;
	box-shadow: 5px 5px 5px #888888;
}